@import 'compass/css3';
@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'tables';

* {
    @include box-sizing(border-box);
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'proxima-nova', sans-serif;
    font-style: normal;
    font-weight: $regular;
    color: #666;
}

body > header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    color: #fff;
    background: $green;

    h1 {
        float: left;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    h1, h2 {
        margin: 0;
        line-height: 80px;
    }

    h2 {
        font-weight: $regular;
        text-align: right;
        font-size: 1em;

        span {
            font-size: 1.5em;
            font-weight: $bold;
        }
    }
}

.col {
    position: absolute;
    top: 0;
    height: 100%;
    padding-top: 80px;
    overflow-y: scroll;
}

.pad {
    padding: 10px;
}

.menu {
    width: 20%;
    left: 0;
    background: #ddd;
    border-right: 1px solid #bbb;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            height: 80px;
            padding: 20px 10px 20px 60px;
            background-color: #ddd;
            background-position: 15px 50%;
            background-repeat: no-repeat;
            background-size: 36px 36px;
            border-bottom: 1px solid #bbb;
            @include transition(all 0.25s);

            &:first-child {
                padding-top: 20px;
                padding-bottom: 20px;
            }

            &.active {
                background-color: #666;
                color: #eee;
            }

            &.no-input {
                font-size: 20px;
                padding-top: 28px;
            }

            &[data-field=livability] { background-image: url('../img/icon-livability.png'); font-size: 26px; padding-top: 24px;}
            &[data-field=education] { background-image: url('../img/icon-education.png'); }
            &[data-field=poverty] { background-image: url('../img/icon-poverty.png'); }
            &[data-field=income] { background-image: url('../img/icon-income.png'); }
            &[data-field=housing] { background-image: url('../img/icon-housing.png'); }
            &[data-field=commute] { background-image: url('../img/icon-commute.png'); }
            &[data-field=taxes] { background-image: url('../img/icon-taxes.png'); }
            &[data-field=crime] { background-image: url('../img/icon-crime.png'); }
            &[data-field=employment] { background-image: url('../img/icon-employment.png'); }

            a {
                display: block;
                margin-bottom: 5px;
            }

            input {
                width: 90%;
            }
        }
    }
}

#pies {
  text-align: center;

  text {
    fill: #fff;
    font-weight: "bold";
  }

  .pie-cont {
    width: auto;
    margin: 0 auto;
  }
}

.state {
    width: 40%;
    left: 20%;

    svg {
        position: relative;
        z-index: 1;
    }

    .town {
      stroke: #aaa;
      stroke-width: 1;
      -webkit-transition: 0.3s fill;
    }

    .map-title {
        position: absolute;
        z-index: 2;
        top: 115px;
        left: 0;
        width: 100%;

        h3 {
            color: $green;
        }

        h3, h4 {
            margin: 0;
            text-align: center;
        }

        h4 {
            text-transform: none;
            font-weight: $regular;
            color: #999;
        }
    }
}

.info {
    width: 40%;
    left: 60%;
    background: #eee;
    border-left: 1px solid #bbb;

    header {
        background-image: url('../img/vermont.jpg');
        background-position: 50% 50%;
        @include background-size(cover);
        padding: 100px 10px 10px 10px;
        color: #fff;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    }

    h1 {
        font-size: 3em;
        margin: 0;
    }

    h2 {
        margin: 0;
    }
}

#affordability-chart {
    display: none;
    background: #ccc;
    width: 100%;
    height: 200px;
    path {
        stroke: steelblue;
        stroke-width: 3;
        fill: none;
    }
    
    .axis {
        shape-rendering: crispEdges;
    }

    .x.axis line {
        stroke: lightgrey;
    }

    .x.axis .minor {
        stroke-opacity: .5;
    }

    .x.axis path {
        display: none;
    }

    .y.axis line, .y.axis path {
        fill: none;
        stroke: #000;
    }
}

#stats table {
    font-size: 0.85em;
}

#town-stats {
    display: none;

    br {
        clear: both;
    }
}

.stat {
    margin: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;

    .value {
        display: block;
        font-weight: $bold;
    }

    .label {
        text-transform: uppercase;
        font-size: 0.75em;
    }

}

// Typography

h1, h2, h3, h4, h5, h6 {
    font-weight: $bold;
    text-transform: uppercase;
}

// Grid
.col-half,
.col-third,
.col-quarter {
    float: left;
}

.col-half {
    width: 50%;

    span.value { font-size: 4em; }
}
.col-third {
    width: 33.3%;

    span.value { font-size: 3em; }
}
.col-quarter {
    width: 25%;

    span.value { font-size: 2em; }
}
